body {
    background-color: rgb(121, 121, 250);
}

.characters {
	display: flex;
    flex-direction: row;
    /*background-color: white;*/
}

#obiwandiv, #lukediv, #darthsdiv, #darthmdiv {
    max-width: 150px;
    margin: 10px;
    padding: 10px;
}


.yourcharacter {
    max-width: 100%;
	display: flex;
    flex-direction: row;
}

.yourcharacter .thumbnail {
    border: green solid 15px;
}

.enemiesavailable .thumbnail {
    border: red solid 15px;
    max-width: 100%;
    max-height: 250px;
}

.enemies {
    max-width: 100%;
    max-height: 250px;
	display: flex;
    flex-direction: row;
}

.defender .thumbnail {
    border: black solid 15px;
    max-width: 100%;
    max-height: 250px;
}

.defender {
    max-width: 100%;
    max-height: 250px;
	display: flex;
    flex-direction: row;
}