body {
    background-color: rgb(121, 121, 250);
}

#characters {
	display: flex;
    flex-direction: row;
    /*background-color: white;*/
}

#obiwandiv, #lukediv, #darthsdiv, #darthmdiv {
    max-width: 150px;
    margin: 10px;
    padding: 10px;
}

#enemiesavailable {
    max-width: 100%;
	display: flex;
    flex-direction: row;
}

#yourcharacter {
    max-width: 100%;
	display: flex;
    flex-direction: row;
}