* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: "waltograph";
    src: url("fonts/waltograph42.ttf");
    font-weight: normal;
}

body {
    background-image: url('../images/background.jpg');
    color: rgb(130, 28, 247);
    height: 100vh;

}

.container {
    height: 100vh;
    margin: 0 auto;
}

h1 {
    font-family: "waltograph", Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
}

.message {
    color: white;
}

.panel-title h3 {
    color: white;
    font-family: "waltograph", Arial, Helvetica, sans-serif;

}

.characters {
	display: flex;
    flex-direction: row;
    padding-right: 30px;
        /*background-color: white;*/
}

.yourcharacter {
    width: 200px;
	display: flex;
    flex-direction: row;
}

.yourcharacter .thumbnail {
    border: pink solid 15px;
}

.enemycharacter {
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.enemycharacter .thumbnail {

    border: rgb(3, 255, 255) solid 15px;
}

.defendingcharacter .thumbnail {
    border: black solid 15px;
    max-width: 100%;
}

.defendingcharacter {
    max-width: 200px;
	display: flex;
    flex-direction: row;
}

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}